Repository yauheni-deriv/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary, @yashim-deriv, @carol-binary, @bahar-fs, @akmal-binary, @njazuli-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  akmal-binary
#  bahar-fs
#  balakrishna-binary
#  carol-binary
#  matin-binary
#  mehrzad-fs
#  nijil-binary
#  njazuli-deriv
#  yashim-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @matin-binary @nijil-binary @mehrzad-fs @balakrishna-binary 



# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @yashim-deriv



# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @mehrzad-fs
/packages/bot-web-ui/**/*                                       @mehrzad-fs
/packages/indicators/**/*                                       @mehrzad-fs


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/core/**/*                                             @balakrishna-binary @matin-binary 
/packages/shared/**/*                                           @balakrishna-binary @matin-binary 
/packages/components/**/*                                       @balakrishna-binary @matin-binary 
/packages/translations/**/*                                     @balakrishna-binary @matin-binary 


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @carol-binary @nijil-binary


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @bahar-fs @nijil-binary

# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                             @balakrishna-binary @matin-binary @yashim-deriv 

# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-binary @balakrishna-binary @akmal-binary 

# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                           @matin-binary @balakrishna-binary

# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-binary

# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-binary @balakrishna-binary @njazuli-deriv @bahar-fs

refactor: current_language removed from deps
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Owners: @yashim-deriv

refactor: remove undefinied prop
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
Owners: @yashim-deriv

fix: failing tests
  packages/account/src/Components/poa/poa-button/poa-button.tsx
  packages/account/src/Components/poi/status/upload-complete/__tests__/upload-complete.spec.tsx
  packages/account/src/Components/poi/status/upload-complete/upload-complete.tsx
  packages/cfd/src/Components/__tests__/cfd-poi.spec.js
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

fix: failing tests
  packages/account/src/Components/poa/poa-button/__tests__/poa-button.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/__tests__/idv-verified.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/idv-verified.tsx
Owners: @yashim-deriv

refactor: :recycle: incorporated review comments
  packages/account/src/Constants/idv-document-config.ts
  packages/account/src/Helpers/utils.ts
Owners: @yashim-deriv

refactor: :recycle: incorporated review comments
  packages/components/stories/icon/icons.js
Owners: @balakrishna-binary, @matin-binary

chore: config files ts migartion and refactor
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Configs/accept-risk-config.tsx
  packages/account/src/Configs/address-details-config.tsx
  packages/account/src/Configs/currency-selector-config.tsx
  packages/account/src/Configs/financial-details-config.tsx
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Configs/proof-of-identity-config.tsx
  packages/account/src/Configs/terms-of-use-config.tsx
  packages/account/src/Configs/trading-assessment-config.tsx
  packages/account/src/Types/common-prop.type.ts
Owners: @yashim-deriv

refactor: test case for config func
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
Owners: @yashim-deriv

fix: config typing
  packages/account/src/Configs/personal-details-config.ts
Owners: @yashim-deriv

refactor: remove custom accounts residence type
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Types/common-prop.type.ts
Owners: @yashim-deriv

refactor: review comment
  packages/account/src/Configs/terms-of-use-config.tsx
Owners: @yashim-deriv

chore: added test cases
  packages/account/src/Configs/__test__/get-status-badge-config.spec.tsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Configs/terms-of-use-config.tsx
  packages/shared/src/utils/validation/form-validations.ts
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

fix: revert boolean in types
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Configs/terms-of-use-config.tsx
  packages/shared/src/utils/validation/form-validations.ts
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

refactor: default value fields
  packages/account/src/Configs/personal-details-config.ts
Owners: @yashim-deriv

refactor: files types, import react types
  packages/account/src/Configs/__test__/address-details-config.spec.ts
  packages/account/src/Configs/accept-risk-config.ts
  packages/account/src/Configs/address-details-config.ts
  packages/account/src/Configs/currency-selector-config.ts
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Configs/proof-of-identity-config.ts
  packages/account/src/Configs/terms-of-use-config.ts
  packages/account/src/Configs/trading-assessment-config.tsx
Owners: @yashim-deriv

refactor: react types
  packages/account/src/Configs/accept-risk-config.ts
  packages/account/src/Configs/address-details-config.ts
  packages/account/src/Configs/currency-selector-config.ts
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Configs/proof-of-identity-config.ts
  packages/account/src/Configs/terms-of-use-config.ts
  packages/account/src/Configs/trading-assessment-config.tsx
Owners: @yashim-deriv

fix: condition rule
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Configs/personal-details-config.ts
Owners: @yashim-deriv

fix: failing testcase
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Sections/Security/ClosingAccount/__tests__/closing-account-reason.spec.js
Owners: @yashim-deriv

chore: poo ts
  packages/account/src/Sections/Verification/ProofOfOwnership/index.js
  packages/account/src/Sections/Verification/ProofOfOwnership/index.ts
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.tsx
  packages/account/src/Types/common.type.ts
Owners: @yashim-deriv

chore: poo form ts initial
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.tsx
Owners: @yashim-deriv

chore: poo ts init
  packages/account/src/Sections/Verification/ProofOfOwnership/index.js
  packages/account/src/Sections/Verification/ProofOfOwnership/index.ts
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.tsx
  packages/account/src/Types/common.type.ts
Owners: @yashim-deriv

chore: remove query
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership.spec.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/test-data.ts
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.tsx
Owners: @yashim-deriv

chore: some types fix
  packages/account/src/Containers/proof-of-ownership/card.tsx
  packages/account/src/Containers/proof-of-ownership/expanded-card.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.tsx
  packages/account/src/Types/common.type.ts
  packages/shared/src/utils/files/file-uploader-utils.ts
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary
