Repository yauheni-deriv/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary, @yashim-deriv, @carol-binary, @bahar-fs, @akmal-binary, @njazuli-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  akmal-binary
#  bahar-fs
#  balakrishna-binary
#  carol-binary
#  matin-binary
#  mehrzad-fs
#  nijil-binary
#  njazuli-deriv
#  yashim-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @matin-binary @nijil-binary @mehrzad-fs @balakrishna-binary 



# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @yashim-deriv



# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @mehrzad-fs
/packages/bot-web-ui/**/*                                       @mehrzad-fs
/packages/indicators/**/*                                       @mehrzad-fs


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/core/**/*                                             @balakrishna-binary @matin-binary 
/packages/shared/**/*                                           @balakrishna-binary @matin-binary 
/packages/components/**/*                                       @balakrishna-binary @matin-binary 
/packages/translations/**/*                                     @balakrishna-binary @matin-binary 


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @carol-binary @nijil-binary


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @bahar-fs @nijil-binary

# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                             @balakrishna-binary @matin-binary @yashim-deriv 

# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-binary @balakrishna-binary @akmal-binary 

# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                           @matin-binary @balakrishna-binary

# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-binary

# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-binary @balakrishna-binary @njazuli-deriv @bahar-fs

Updates
  chart/add-disabling-barriers-pipsize-param/.circleci/config.yml
  chart/add-disabling-barriers-pipsize-param/.dockerignore
  chart/add-disabling-barriers-pipsize-param/Dockerfile
  chart/add-disabling-barriers-pipsize-param/default.conf
  chart/add-disabling-barriers-pipsize-param/index.html
  chart/add-disabling-barriers-pipsize-param/manifest.json
  chart/add-disabling-barriers-pipsize-param/sw.js
Owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary

Create CNAME
  CNAME
Owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary

Create CNAME
  CNAME
Owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary

Updates
  asset-manifest.json
  bot/js/bot-web-ui.main.js
  index.html
  js/core.bot.1e1fbc42721c8cc63171.js
  js/core.bot.89e7a5b493187060f4e3.js
  js/core.vendors-node_modules_deriv_deriv-charts_dist_smartcharts_js.18579ed4bcec0dc941b6.js
  js/core.vendors-node_modules_deriv_deriv-charts_dist_smartcharts_js.c7c0f50ea92d8eff910e.js
  js/smartcharts/smartcharts.js
  js/smartcharts/smartcharts.js.map
  service-worker.js.map
Owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary

Updates
  chart/86205/.circleci/config.yml
  chart/86205/.dockerignore
  chart/86205/Dockerfile
  chart/86205/default.conf
  chart/86205/index.html
  chart/86205/manifest.json
  chart/86205/sw.js
Owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary

Updates
  chart/.circleci/config.yml
  chart/.dockerignore
  chart/86205/.circleci/config.yml
  chart/Dockerfile
  chart/add-disabling-barriers-pipsize-param/.dockerignore
  chart/add-disabling-barriers-pipsize-param/Dockerfile
  chart/add-disabling-barriers-pipsize-param/default.conf
  chart/add-disabling-barriers-pipsize-param/index.html
  chart/add-disabling-barriers-pipsize-param/manifest.json
  chart/add-disabling-barriers-pipsize-param/sw.js
  chart/default.conf
  chart/index.html
  chart/manifest.json
  chart/sw.js
Owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary

Delete .gitignore
  .gitignore
Owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary

fix: description
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.jsx
Owners: @matin-binary, @balakrishna-binary, @akmal-binary

fix: disable trade params while switching account
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Owners: @matin-binary, @balakrishna-binary, @akmal-binary

refactor: glitching fix and deleted odd css
  packages/components/src/components/contract-card/contract-card-items/contract-card-item.jsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Owners: @balakrishna-binary, @matin-binary, @akmal-binary

fix: code refactor
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Owners: @matin-binary, @balakrishna-binary, @akmal-binary

fix: max stake validation is missing
  packages/core/src/Stores/contract-trade-store.js
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
Owners: @balakrishna-binary, @matin-binary, @akmal-binary

refactor: security section api token ts migration
  packages/account/package.json
  packages/account/src/Sections/Security/ApiToken/api-token.tsx
  packages/account/src/Sections/Security/ApiToken/index.js
  packages/account/src/Sections/Security/ApiToken/index.ts
Owners: @yashim-deriv

feat: incorporated style changes
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/core/src/sass/account-wizard.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

fix: :art: Resolved CSS issues
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/core/src/sass/real-account-signup.scss
Owners: @balakrishna-binary, @matin-binary

style: :art: incorporated hiding of helper image based on avbl doc
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/core/src/sass/real-account-signup.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

style: :art: moved color to common variable
  packages/account/src/Components/inline-note-with-icon/inline-note-with-icon.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/p2p/src/components/orders/orders.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary, @carol-binary, @nijil-binary

style: update positioning of success banner in KYC flow
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.tsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

style: update positioning of success banner in mt5 account flow
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

chore: renamed prop from is_mt5 to is_external
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Owners: @yashim-deriv

style: status message width
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @balakrishna-binary, @matin-binary

feat: :art: incorporated new changes
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Helpers/__tests__/utils.spec.ts
  packages/account/src/Helpers/utils.ts
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/input/input.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

feat: :sparkles: incorporated idv for mt5
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/core/src/sass/real-account-signup.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

feat: :art: code refactored
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Helpers/__tests__/utils.spec.ts
  packages/account/src/Helpers/utils.ts
Owners: @yashim-deriv

refactor: migrate form-fields to tsx
  packages/account/src/Components/forms/form-fields.jsx
  packages/account/src/Components/forms/form-fields.tsx
Owners: @yashim-deriv

feat: :sparkles: migrated cmponent to TSX
  packages/account/src/Components/forms/personal-details-form.tsx
Owners: @yashim-deriv

chore: updated types
  packages/account/src/Components/forms/form-fields.tsx
Owners: @yashim-deriv

feat: :art: added a type
  packages/account/src/Types/common-prop.type.ts
Owners: @yashim-deriv

chore: odd test delete, package json update for deriv api
  packages/account/package.json
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-utils.spec.ts
Owners: @yashim-deriv

chore: add api provider
  packages/account/src/App.tsx
Owners: @yashim-deriv

chore: api hooks implemented, api provider for cfd, trader, appsstore
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Helpers/utils.ts
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/account/src/Types/common-prop.type.ts
  packages/appstore/package.json
  packages/appstore/src/components/app.tsx
  packages/cfd/package.json
  packages/cfd/src/app.tsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/reports/package.json
  packages/reports/src/app.jsx
  packages/trader/package.json
  packages/trader/src/App/app.tsx
Owners: @yashim-deriv, @matin-binary, @balakrishna-binary, @njazuli-deriv, @bahar-fs, @akmal-binary

fix: :ambulance: incorporated provider for OnfidoUpload
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/__tests__/poi-confirm-with-example-form-container.spec.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Owners: @yashim-deriv

fix: add name prop to date of birth custom component
  packages/account/src/Components/forms/form-fields.jsx
Owners: @yashim-deriv

fix: test cases
  packages/account/src/Components/forms/form-fields.jsx
Owners: @yashim-deriv

refactor: update props from formik for date custom fields component
  packages/account/src/Components/forms/form-fields.jsx
Owners: @yashim-deriv

style: poi form
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
Owners: @yashim-deriv

refactor: idv forms to useFormikContext to reduce prop drilling
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/components/src/components/autocomplete/autocomplete.jsx
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

fix: :art: resolved TS migration issues
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Helpers/utils.ts
  packages/account/src/Types/common-prop.type.ts
Owners: @yashim-deriv

feat: :white_check_mark: added testcaes
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
Owners: @yashim-deriv

refactor: removed unused props from personal-details
  packages/account/src/Components/personal-details/personal-details.jsx
Owners: @yashim-deriv
