Repository yauheni-deriv/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matin-binary, @nijil-binary, @mehrzad-fs, @balakrishna-binary, @yashim-deriv, @carol-binary, @bahar-fs, @akmal-binary, @njazuli-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  akmal-binary
#  bahar-fs
#  balakrishna-binary
#  carol-binary
#  matin-binary
#  mehrzad-fs
#  nijil-binary
#  njazuli-deriv
#  yashim-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @matin-binary @nijil-binary @mehrzad-fs @balakrishna-binary 



# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @yashim-deriv



# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @mehrzad-fs
/packages/bot-web-ui/**/*                                       @mehrzad-fs
/packages/indicators/**/*                                       @mehrzad-fs


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/core/**/*                                             @balakrishna-binary @matin-binary 
/packages/shared/**/*                                           @balakrishna-binary @matin-binary 
/packages/components/**/*                                       @balakrishna-binary @matin-binary 
/packages/translations/**/*                                     @balakrishna-binary @matin-binary 


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @carol-binary @nijil-binary


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @bahar-fs @nijil-binary

# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                             @balakrishna-binary @matin-binary @yashim-deriv 

# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-binary @balakrishna-binary @akmal-binary 

# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                           @matin-binary @balakrishna-binary

# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-binary

# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-binary @balakrishna-binary @njazuli-deriv @bahar-fs

chore: fix render glitch in mt5 form
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
Owners: @yashim-deriv

fix: dispose onfido_ref if any error occurs during onfido token fetching or sdk initialization
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
Owners: @yashim-deriv

fix: add a check to display info message upon onfido initialization
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.tsx
Owners: @yashim-deriv

refactor: idv forms to useFormikContext to reduce prop drilling (#26)
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/components/src/components/autocomplete/autocomplete.jsx
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

feat: resolved the issues with idv testcases
  packages/account/src/Components/forms/__tests__/idv-form.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
Owners: @yashim-deriv

fix: :bug: fix document number reset
  packages/account/src/Components/forms/idv-form.tsx
Owners: @yashim-deriv

fix: :sparkles: incorporated idv option fix
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Styles/account.scss
Owners: @yashim-deriv

fix: fieldset padding in mobile screen
  packages/core/src/sass/real-account-signup.scss
Owners: @balakrishna-binary, @matin-binary

feat: :art: incorporated image change based on status
  packages/account/src/Assets/ic-poi-dob-mismatch-example.svg
  packages/account/src/Assets/ic-poi-name-mismatch-example.svg
  packages/account/src/Components/forms/personal-details-form.jsx
Owners: @yashim-deriv

fix: :bug: resolved issue with tax field
  packages/account/src/Components/forms/personal-details-form.jsx
Owners: @yashim-deriv

fix: :bug: resolved issue with radio button
  packages/account/src/Components/address-details/address-details.tsx
  packages/core/src/sass/account-wizard.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

feat: :sparkles: incorporated IDV form for expired
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Types/common-prop.type.ts
Owners: @yashim-deriv

feat: :sparkles: incorporated IDV form for expired
  packages/account/src/Components/form-body/form-body.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Styles/account.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

fix: dropdown alignment
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Owners: @matin-binary, @balakrishna-binary, @njazuli-deriv, @bahar-fs

feat: :art: resolved a status check
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Owners: @yashim-deriv

fix: :bug: resolved DOB issue
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
Owners: @yashim-deriv

fix: styles form
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @matin-binary, @balakrishna-binary, @njazuli-deriv, @bahar-fs

chore: removed odd component
  packages/account/src/Components/poi/idv-status/idv-expired/__tests__/idv-expired.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-expired/idv-expired.tsx
  packages/account/src/Components/poi/idv-status/idv-expired/index.js
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Owners: @yashim-deriv

feat: pushing IDV changes
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Owners: @yashim-deriv

feat: pushing IDV changes (#36)
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Owners: @yashim-deriv

chore: submit flow for account
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Owners: @yashim-deriv

chore: idv submission left handling
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Owners: @yashim-deriv

fix: pending page render
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Owners: @yashim-deriv

feat: pushing IDV changes
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Owners: @yashim-deriv

fix: pending page for failed
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
Owners: @yashim-deriv

fix: :art: formatted code changes
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-utils.ts
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/shared/src/utils/helpers/format-response.ts
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

fix: :bug: initial error selection fix
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Owners: @yashim-deriv

feat: :lipstick: CS changes
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @balakrishna-binary, @matin-binary

fix: responsive styles
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @balakrishna-binary, @matin-binary

fix: :sparkles: resolved failing testcase
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
Owners: @yashim-deriv

fix: :recycle: resolved naming conventions
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
Owners: @yashim-deriv

feat: :art: refactored IDV failure
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
Owners: @yashim-deriv

fix: reverted changes
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
Owners: @yashim-deriv

feat: :art: refactored IDV failure (#37)
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
Owners: @yashim-deriv

chore: css idv form
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
Owners: @matin-binary, @balakrishna-binary, @njazuli-deriv, @bahar-fs

chore: idv submit complete test extending
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
Owners: @yashim-deriv

fix: country selector change language and fetch residence list
  packages/account/src/Components/form-body/form-body.tsx
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/load-error-message/load-error-message.tsx
  packages/account/src/Components/poi-unsupported-failed/unsupported-failed.tsx
  packages/account/src/Components/poi/missing-personal-details/missing-personal-details.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-country-selector/__tests__/poi-country-selector.spec.tsx
  packages/account/src/Components/poi/poi-country-selector/index.js
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Components/poi/status/expired/expired.tsx
  packages/account/src/Components/poi/status/limited/limited.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
  packages/account/src/Components/poi/status/upload-complete/upload-complete.tsx
  packages/account/src/Components/poi/status/verified/verified.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/cfd/src/Components/cfd-poi.tsx
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

fix: residence list call for mt5
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Owners: @yashim-deriv

fix: autocomplete not_found issue, loading poi page directly issue
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/dropdown-list/dropdown-list.tsx
Owners: @yashim-deriv, @balakrishna-binary, @matin-binary

refactor: avoid double call for fetching residence
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Owners: @yashim-deriv
